<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	div>form>div.jumbotron,
		html>body {
        	background: <%= bg_color %>;
      	}

      	.centered {
			position: fixed;
		  	top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.container>.form-group>div>input.form-control {
			width: 20%;
		    float: inherit;
		    margin-left: 40%;
		    margin-right: 40%;
		}

		.container {
			margin-top:  1%;
		}
		body>div.jumbotron {
			width: 80%;
			height: 80%;
		}

		form>div>input.jumbotron {
			font-size: 30pt;
			padding: 0.5em;
			margin: 0.5em 0.5em;
			text-align: center;
			visibility: <%= visibility %>;
		}



    </style>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
	<div class="centered container">
		<h1 class="text-center">
			<%= msg %> <%# number %>
		</h1>
		<form class="text-center">
			<div>
				<input class="jumbotron" type='text' name='guess' autocomplete="off" autofocus="autofocus" />
			</div>
			<input class="btn btn-primary" type='submit' value=<%= btn_val %> />
		</form>
	</div>

</body>
</html>